*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 20px;
    
}
:root{
    --primarycolor : #535ebf; 
    --textColor :gold
}

nav{
    background-color: #535ebf;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: auto;
}
nav ul{
    width: 25%;
    font-size: 1rem;
 /* background-color: rebeccapurple; */
    display: flex;
    font-size: 4rem;
    justify-content: space-evenly;
    /* justify-items:flex-end; */
}
nav ul li{
    color: var(--textColor)
}

nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
}